<div style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; text-align: center">
  <h1 style="position: absolute; top: 50%; height: 1em; margin-top: -0.5em; width:100%">All gone!</h1>
</div>
